; visual studio configuration files
\.vs
\.idea
ZTestConsole1/
ZTestConsole2/
QuickZip.IO.PIDL/

; vscode configuration files
\.vscode

; build files
*\bin
*\obj

; test results
\TestResults
TestResults/


; dotnet core packages
\packages

; build result
\build

SettingsApp/Properties/Resources.Designer.cs
SettingsApp/Properties/Settings.Designer.cs
SettingsUI/Properties/Resources.Designer.cs
SettingsUI/Properties/Settings.Designer.cs
