; visual studio configuration files
\.vs
ZTestConsole1/
ZTestConsole2/

; vscode configuration files
\.vscode

; build files
*\bin
*\obj

; test results
\TestResults
TestResults/


; dotnet core packages
\packages

; build result
\build

